
<style>
    .sidebar {
        width: 200px;
        background-color: #2c3e50;
        color: white;
        height: 100vh;
        padding-top: 20px;
    }

        .sidebar a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: white;
            transition: background-color 0.3s;
        }

            .sidebar a:hover {
                background-color: #34495e;
            }

    .content {
        flex-grow: 1;
        padding: 20px;
    }

    .table-container {
        display: none;
        margin-top: 20px;
    }

        .table-container.active {
            display: block;
        }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table,
    th,
    td {
        border: 1px solid #ddd;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .action-buttons {
        display: flex;
        gap: 10px;
    }

        .action-buttons button {
            padding: 5px 10px;
            border: none;
            color: white;
            cursor: pointer;
        }

    .add-button {
        background-color: #27ae60;
    }

    .edit-button {
        background-color: #2980b9;
    }

    .delete-button {
        background-color: #c0392b;
    }

    .add-new-btn {
        margin-bottom: 20px;
        background-color: #27ae60;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    .modal-header {
        background-color: #27ae60;
        color: white;
    }
</style>
<div style="display: flex; align-items: start; margin-top: 170px" class="container">
    <div class="sidebar">
        <a href="#" onclick="showTable('customers')">Quản lý khách hàng</a>
        <a href="#" onclick="showTable('products')">Quản lý sản phẩm</a>
        <a href="#" onclick="showTable('employees')">Quản lý nhân viên</a>
        <a href="#" onclick="showTable('vouchers')">Quản lý voucher</a>
        <a href="#" onclick="showTable('orders')">Quản lý đơn hàng</a>
    </div>
    <div class="content">
        <div id="customers" class="table-container active">
            <h1>Quản lý khách hàng</h1>
            <button class="add-new-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#addCustomerModal">
                Tạo mới
            </button>
            <div id="user-content"></div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    fetch('/Users/Index')
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('user-content').innerHTML = data;
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>

        </div>

        <div id="products" class="table-container">
            <h1>Quản lý sản phẩm</h1>
            <button class="add-new-btn" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Tạo mới
            </button>
            <table id="productTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <img src="http://127.0.0.1:5500/img/fruite-item-1.jpg"
                                 width="50"
                                 style="object-fit: cover"
                                 height="50"
                                 alt="" />
                        </td>
                        <td>Sản phẩm A</td>
                        <td>100</td>
                        <td>100.000</td>
                        <td>
                            <div class="action-buttons">
                                <button class="edit-button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editProductModal"
                                        onclick="editProduct(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         style="width: 20px; height: 20px">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                    </svg>
                                </button>
                                <button class="delete-button">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         style="width: 20px; height: 20px">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <!-- Các hàng khác -->
                </tbody>
            </table>
        </div>

        <div id="employees" class="table-container">
            <h1>Quản lý nhân viên</h1>
            <button class="add-new-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#addEmployeeModal">
                Tạo mới
            </button>
            <table id="employeeTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên nhân viên</th>
                        <th>Loại nhân viên</th>
                        <th>Vị trí</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nhân viên A</td>
                        <td>Nhân viên kho</td>
                        <td>Quản lý</td>
                        <td>Nam</td>
                        <td>nva@example.com</td>
                        <td>
                            <div class="action-buttons">
                                <button class="edit-button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editEmployeeModal"
                                        onclick="editEmployee(this)">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         style="width: 20px; height: 20px">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                    </svg>
                                </button>
                                <button class="delete-button">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         style="width: 20px; height: 20px">
                                        <path stroke-linecap="round"
                                              stroke-linejoin="round"
                                              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <!-- Các hàng khác -->
                </tbody>
            </table>
        </div>

        <div id="vouchers" class="table-container">
            <h1>Quản lý voucher</h1>
            <button class="add-new-btn" data-bs-toggle="modal" data-bs-target="#addVoucherModal">
                Tạo mới
            </button>
            <div id="voucher-content"></div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    fetch('/Vouchers/Index')
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('voucher-content').innerHTML = data;
                            $('#voucherTable').DataTable({
                                "paging": true,
                                "searching": true,
                                "ordering": true,       // Bật sắp xếp
                                "info": true,           // Hiển thị thông tin bảng
                                "pageLength": 10        // Số hàng mỗi trang
                            });
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>
        </div>

        <div id="orders" class="table-container">
            <h1>Quản lý đơn hàng</h1>
            <button class="add-new-btn" data-bs-toggle="modal" data-bs-target="#addOrderModal">
                Tạo mới
            </button>
            <div id="order-content"></div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    fetch('/Orders/Index')
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById('order-content').innerHTML = data;
                            $('#orderTable').DataTable({
                                "paging": true,
                                "searching": true,
                                "ordering": true,
                                "info": true,
                                "pageLength": 10
                            });
                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>
        </div>
    </div>
</div>

<!-- Modal Templates -->
<div class="modal fade"
     id="addCustomerModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới khách hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add new voucher -->
                <div id="user-create-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Users/Create')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('user-create-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="deleteCustomerModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to edit voucher -->
                <div id="customer-delete-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Users/Delete')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('customer-delete-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>

<div class="modal fade"
     id="editCustomerModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa khách hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="customer-edit-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Users/Edit')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('customer-edit-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>

<div class="modal fade"
     id="addProductModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới sản phẩm</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add new product -->
                <form>
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Hình ảnh</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="productName" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="productQuantity" class="form-label">Số lượng</label>
                        <input type="number" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Giá</label>
                        <input type="number" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="editProductModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa sản phẩm</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to edit product -->
                <form>
                    <div class="mb-3">
                        <label for="editProductImage" class="form-label">Hình ảnh</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editProductName" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editProductQuantity" class="form-label">Số lượng</label>
                        <input type="number" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editProductPrice" class="form-label">Giá</label>
                        <input type="number" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addEmployeeModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới nhân viên</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add new employee -->
                <form>
                    <div class="mb-3">
                        <label for="employeeName" class="form-label">Tên nhân viên</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="employeeType" class="form-label">Loại nhân viên</label>
                        <div>
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="employeeType"
                                   value="Nhân viên kho"
                                   required />
                            Nhân viên kho
                            <br />
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="employeeType"
                                   value="Nhân viên bán hàng" />
                            Nhân viên bán hàng
                            <br />
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="employeeType"
                                   value="Nhân viên tư vấn" />
                            Nhân viên tư vấn
                            <br />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="employeePosition" class="form-label">Vị trí</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="employeeGender" class="form-label">Giới tính</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="employeeEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="editEmployeeModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa nhân viên</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to edit employee -->
                <form>
                    <div class="mb-3">
                        <label for="editEmployeeName" class="form-label">Tên nhân viên</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editEmployeeType" class="form-label">Loại nhân viên</label>
                        <div>
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="editEmployeeType"
                                   value="Nhân viên kho"
                                   required />
                            Nhân viên kho<br />
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="editEmployeeType"
                                   value="Nhân viên bán hàng" />
                            Nhân viên bán hàng<br />
                            <input style="width: 15px; height: 15px"
                                   type="checkbox"
                                   name="editEmployeeType"
                                   value="Nhân viên tư vấn" />
                            Nhân viên tư vấn<br />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="editEmployeePosition" class="form-label">Vị trí</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editEmployeeGender" class="form-label">Giới tính</label>
                        <input type="text" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="editEmployeeEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="addVoucherModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới voucher</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add new voucher -->
                <div id="voucher-create-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Vouchers/Create')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('voucher-create-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>

<div class="modal fade"
     id="editVoucherModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa voucher</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to edit voucher -->
                <div id="voucher-edit-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Vouchers/Edit')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('voucher-edit-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>

<div class="modal fade"
     id="deleteVoucherModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa voucher</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to edit voucher -->
                <div id="voucher-delete-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Vouchers/Delete')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('voucher-edit-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>

<div class="modal fade"
     id="addOrderModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới đơn hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form to add new voucher -->
                <div id="order-create-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Orders/Create')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('order-create-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="deleteOrderModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa đơn hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="order-delete-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Orders/Delete')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('order-delete-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>

        </div>
    </div>
</div>
<div class="modal fade"
     id="editOrderModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa đơn hàng</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="customer-edit-content"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        fetch('/Orders/Edit')
                            .then(response => response.text())
                            .then(data => {
                                document.getElementById('customer-edit-content').innerHTML = data;
                            })
                            .catch(error => console.error('Error:', error));
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<script>

    function showTable(tableId) {
        var tables = document.querySelectorAll(".table-container");
        tables.forEach(function (table) {
            table.classList.remove("active");
        });
        document.getElementById(tableId).classList.add("active");
    }

    function editCustomer(id) {
        $.ajax({
            url: '/Users/Edit/' + id,
            method: 'GET',
            success: function (data) {
                $('#editCustomerModal .modal-body').html(data);
                $('#editCustomerModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
    function editVoucher(id) {
        $.ajax({
            url: '/Vouchers/Edit/' + id,
            method: 'GET',
            success: function (data) {
                $('#editVoucherModal .modal-body').html(data);
                $('#editVoucherModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
    function editOrder(id) {
        $.ajax({
            url: '/Orders/Edit/' + id,
            method: 'GET',
            success: function (data) {
                $('#editOrderModal .modal-body').html(data);
                $('#editOrderModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    function editProduct(button) {
        var row = $(button).closest("tr");
        $("#editProductImage").val(row.find("td:eq(1) img").attr("src"));
        $("#editProductName").val(row.find("td:eq(2)").text());
        $("#editProductQuantity").val(row.find("td:eq(3)").text());
        $("#editProductPrice").val(row.find("td:eq(4)").text());
    }

    function editEmployee(button) {
        var row = $(button).closest("tr");
        $("#editEmployeeName").val(row.find("td:eq(1)").text());
        $('input[name="editEmployeeType"][value="' + row.find("td:eq(2)").text() + '"]').prop(
            "checked",
            true
        );
        $("#editEmployeePosition").val(row.find("td:eq(3)").text());
        $("#editEmployeeGender").val(row.find("td:eq(4)").text());
        $("#editEmployeeEmail").val(row.find("td:eq(5)").text());
    }


    function deleteCustomer(id) {
        $.ajax({
            url: '/Users/Delete/' + id,
            method: 'GET',
            success: function (data) {
                $('#deleteCustomerModal .modal-body').html(data);
                $('#deleteCustomerModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    function deleteVoucher(id) {
        $.ajax({
            url: '/Vouchers/Delete/' + id,
            method: 'GET',
            success: function (data) {
                $('#deleteVoucherModal .modal-body').html(data);
                $('#deleteVoucherModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
    function deleteOrder(id) {
        $.ajax({
            url: '/Orders/Delete/' + id,
            method: 'GET',
            success: function (data) {
                $('#deleteOrderModal .modal-body').html(data);
                $('#deleteOrderModal').modal('show');
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    function GetIdVoucher() {
        var voucherDropdown = document.getElementById('voucherDropdown');
        var selectedVoucherId = voucherDropdown.value;

        console.log('Selected Voucher ID:', selectedVoucherId);

        $.ajax({
            url: '/Orders/GetUsersByVoucher',
            type: 'GET',
            data: { id_voucher: selectedVoucherId },
            success: function (data) {
                var userDropdown = $('#userDropdown');
                userDropdown.empty();
                $.each(data, function (index, item) {
                    userDropdown.append($('<option/>', {
                        value: item.id,
                        text: item.name
                    }));
                });
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
    function GetIdVoucher2() {
        var voucherDropdown = document.getElementById('voucherDropdown2');
        var selectedVoucherId = voucherDropdown.value;

        console.log('Selected Voucher ID:', selectedVoucherId);

        $.ajax({
            url: '/Orders/GetUsersByVoucher',
            type: 'GET',
            data: { id_voucher: selectedVoucherId },
            success: function (data) {
                var userDropdown = $('#userDropdown2');
                userDropdown.empty();
                $.each(data, function (index, item) {
                    userDropdown.append($('<option/>', {
                        value: item.id,
                        text: item.name
                    }));
                });
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }
    $(document).ready(function () {
        $("#customerTable").DataTable();
        $("#productTable").DataTable();
        $("#employeeTable").DataTable();
        $("#voucherTable").DataTable();
        $("#orderTable").DataTable();
        console.log('Script is loaded and running'); // Debug: Kiểm tra xem script có được nạp hay không


    });
</script>