@model Ecommerce.Data.Product

@{
    ViewData["Title"] = "Create";
}
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="quantity_in_stock" class="control-label"></label>
                <input asp-for="quantity_in_stock" class="form-control" />
                <span asp-validation-for="quantity_in_stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="url_image" class="control-label"></label>
                <input asp-for="url_image" class="form-control" type="file" accept="image/*" />
            </div>

            <div class="form-group">
                <label asp-for="id_category" class="control-label"></label>
                <select asp-for="id_category" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>

            <div class="form-group">
                <label asp-for="id_supplier" class="control-label"></label>
                <select asp-for="id_supplier" class="form-control" asp-items="ViewBag.Suppliers"></select>
            </div>
            <br />
            <div class="modal-footer" style="display:flex">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
           
        </form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
