@model Ecommerce.Data.Product

@{
    ViewData["Title"] = "Admin/Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_product" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantity_in_stock" class="control-label"></label>
                <input asp-for="quantity_in_stock" class="form-control" />
                <span asp-validation-for="quantity_in_stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="url_image" class="control-label"></label>
                <input asp-for="url_image" class="form-control" />
                <span asp-validation-for="url_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_category" class="control-label"></label>
                <select asp-for="id_category" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="id_category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_supplier" class="control-label"></label>
                <select asp-for="id_supplier" class="form-control" asp-items="ViewBag.Suppliers"></select>
                <span asp-validation-for="id_supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
